body 
{
background: linear-gradient(217deg, #111514, #2c3332, #151717);
background-size: 600% 600%;

-webkit-animation: AnimationName 18s ease infinite;
-moz-animation: AnimationName 18s ease infinite;
animation: AnimationName 18s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:31% 0%}
    50%{background-position:70% 100%}
    100%{background-position:31% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:31% 0%}
    50%{background-position:70% 100%}
    100%{background-position:31% 0%}
}
@keyframes AnimationName {
    0%{background-position:31% 0%}
    50%{background-position:70% 100%}
    100%{background-position:31% 0%}
}
 font-family: "segoe-ui", "open-sans", tahoma, arial;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: #ffffff;
  text-align: right;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.navbar a:hover {
  color: #808080;
}
h1 
{
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0.015em;
}
h2
{
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.015em;
}
input[type=text], input[type=password] 
{
  width: 16%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
}

button {
  background-color: #808080;
  color: black;
  padding: 15px 15px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 8%;
  border-radius: 25px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1px 15px;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  }

  @media only screen and (max-width: 480px)
 {
  body
 {
  background: linear-gradient(217deg, #111514, #2c3332, #151717);
  background-size: 600% 600%;
  
  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:31% 0%}
      50%{background-position:70% 100%}
      100%{background-position:31% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:31% 0%}
      50%{background-position:70% 100%}
      100%{background-position:31% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:31% 0%}
      50%{background-position:70% 100%}
      100%{background-position:31% 0%}
  }
 font-family: "segoe-ui", "open-sans", tahoma, arial;
 }
h1 
{
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.015em;
}
h2
{
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.015em;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: #ffffff;
  text-align: right;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.navbar a:hover {
  color: #808080;
}
input[type=text] , input[type=password]
{
  width: 45%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
}

button {
  background-color: #808080;
  color: black;
  padding: 15px 15px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  border-radius: 25px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1px 15px;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  }

}
